---
  layout: default
---

<div class="home-left">
  <div class="headshot">
    <img id="headshot" src="assets/images/headshot5.jpg" />
    <div class="caption">
      <h1>
      Claire Horner-Devine, PhD
      </h1>
      <div class="subslogan">
      founder of Counterspace Consulting, LLC
      </div>
      <div class="email">
<a href="mailto:claire@counterspaceconsulting.com">claire@counterspaceconsulting.com</a>
      </div>
     <div class="social">
       <a href="https://www.linkedin.com/in/claire-horner-devine-103aa71/" class="linkedin"></a>
       <a href="https://twitter.com/chornerdevine?lang=en" class="twitter"></a>
     </div>
    </div>
  </div>
</div>

<section class="home-right page-section" data-section-name="introduction">
  <a name="introduction"></a>
  <div class="blurb right">
    <p class="graph">
Claire Horner-Devine, PhD, founded Counterspace Consulting to support the development of inclusive leaders and organizations so that all individuals can thrive in their work and lives.
    </p>
     <p class="center">
     <img src="assets/images/star.png" class="center-star one"/>
     </p>
    <p class="graph">
She uses humor, personal connection and strong analytic skills to help clients develop as leaders and to create more inclusive practices and equitable policies. She brings deep expertise in adaptive facilitation, program design and empowering partners and participants to identify and access what they want and need to succeed.
    </p>
     <p class="center">
     <img src="assets/images/star.png" class="center-star two"/>
     </p>
    <p class="graph">
Counterspace Consulting supports leaders and organizations through individual and group coaching, strategic corporate consulting, and immersive workshops that are grounded in social science research, trust and curiosity. She uses one-on-one, team and embedded coaching to help clients identify opportunities to mitigate bias in their processes, policies and interactions and then work with them to create solutions to cultivate change and establish accountability mechanisms for sustained impact.
    </p>
     <p class="center">
     <img src="assets/images/star.png" class="center-star three"/>
     </p>
    <p class="graph">
Counterspace Consulting specializes in programming and services developed for and by professionals in STEM (science, technology, engineering and mathematics).
    </p>
  </div>
</section>

 <section class="page-section" data-section-name="why-counterspace">

  <div class="blurb right">
    <a name="why-counterspace"></a>
    <h3><span>Why &ldquo;Counterspace&rdquo;?</span></h3>
    <p>
      <img src="assets/images/star.png" class="right-star"/>
      A "counterspace" is a social science concept that plays a central part of my work helping leaders and organizations cultivate excellence.
      Through coaching and strategic consulting, I help my clients create "counterspaces" &mdash; environments that promote well-being and a sense of belonging in their work.
  </div>

  <div class="blurb right">
    <a name="services"></a>
    <h3><span>Counterspace Services</span></h3>
      <img src="assets/images/star.png" class="right-star second"/>
    <ul>
      <li>Inclusive leadership and executive coaching</li>
      <li>Group and embedded coaching</li>
      <li>Strategic consulting</li>
      <li>Program design and facilitation</li>
    </ul>
  </div>

  <div class="blurb right">
    <h3><span>Counterspace Clients and Partners</span></h3>
    <ul class="believe-list clients">
      <li>Higher Education
        <ul>
          <li>
            Boston University, Brown University, Duke University,
            Harvard University, Northeastern University, University of Alaska,
            UC Santa Cruz, UCLA, University of Hawaii, University of New Hampshire,
            University of Pennsylvania, University of Washington,
            Western Washington University, and others
          </li>
          <li>
            The Animal Behavior Society, The Society for Integrative and Comparative Biology,
            The Entomological Society of America
          </li>
        </ul>
      </li>
      <li>Philanthropy
        <ul>
          <li>
            The Bill and Melinda Gates Foundation
          </li>
          <li>
            The Rita Allen Foundation
          </li>
        </ul>
      </li>
      <li>Technology and Industry
        <ul>
          <li>
            Redfin
          </li>
          <li>
            DoorDash
          </li>
        </ul>
      </li>
      <li>Government
        <ul>
          <li>
            National Oceanic and Atmospheric Administration
          </li>
        </ul>
      </li>
    </ul>
    <p>
  </div>

  <div class="blurb right">
    Contact claire@counterspaceconsulting.com to learn more.
  </div>
</section>

<section class="page-section" id="industry" data-section-name="industry">
  <a name="industry"></a>
  <div class="blurb right" >
    <h3><span>Coaching and Consulting in Industry</span></h3>
    <div class="blurb right">
      <ul class="believe-list clients">
        <li>1:1 coaching for managers and executives</li>
        <li>Development and facilitation of leadership, mentoring,
          and professional development programs</li>
        <li>Strategic consulting to cultivate an inclusive culture and
          develop inclusive and equitable processes and policies</li>
        <li>Power of Peers Circles and Coaching Program</li>
      </ul>
    </div>
    <div class="blurb right">
      <h4 class=testimonial_header">Testimonials from Industry</h4>
        <div class="testimonial">
          Claire is one of the best consultants I have worked with.
          Prior to working with Claire, our consultants would typically
          provide a recommendation that then needed to be implemented by the team.
          Claire's model is different, she addressed the work in phases,
          allowing her to participate and guide the implementation.
          This allowed us to make adjustments real-time, and resulted in practices
          that have now scaled across our organization. <span class="testimonial-author">Danielle Thirumalai, Interim Deputy Director, The Bill and Melinda Gates Foundation</span>
        </div>
        <div class="star-sep"></div>
        <div class="testimonial">
          Claire brings a unique combination of data-driven rigor, strategic thinking and humor to her work. Claire did a great job combining the latest academic research on diversity with concrete suggestions that helped make our team culture more inclusive. She helped us create an environment where people with different communication styles felt more comfortable speaking up and helped our team become better listeners. Claire also helped me grow as a leader by coaching me on how to initiate and follow through on important discussions about race and diversity.
           <span class="testimonial-author">
             Matt Lerner, Senior Vice President of Product and Design, Redfin
           </span>
        </div>
        <div class="star-sep"></div>

        <div class="testimonial">
          Participating in my POP Circle has helped me develop a circle of support at work that I can depend on whenever I encounter issues. Since we're all coworkers, everyone already has context on what's happening within the organization, but we're far enough removed that it doesn't impact our working relationships (i.e. if I'm struggling with a coworker, it's rare that others in the circle will have to interact with that person).
           <span class="testimonial-author">
             Early career woman in engineering from the DoorDash POP Circle and Coaching Program
           </span>
        </div>
        <div class="star-sep"></div>

        <div class="testimonial">
          Claire was awesome at coaching how to deliver my thoughts to someone else without giving discomfort and make the other person feel threatened. I started to confront more situations where I would have to talk about more uncomfortable topics or ask for something for myself.
           <span class="testimonial-author">
             Early career woman in engineering from the DoorDash POP Circle and Coaching Program
           </span>
        </div>
    </div>
</section>


<section class="page-section" id="education" data-section-name="higher-education">
  <a name="higher-education"></a>
  <div class="blurb right" >
    <h3><span>Coaching and Consulting in Higher Education</span></h3>
    <ul class="believe-list clients">
      <li>
        1:1 Coaching for faculty and administrators
      </li>
      <li>
        Interactive professional development workshops
      </li>
      <li>
        Custom research group programming and coaching
      </li>
      <li>
        Power of Peers Circles
      </li>
      <li>
        Faculty Launch Program
      </li>
    </ul>
  </div>

  <div class="blurb right">
    <h4 class=testimonial_header">Testimonials from Higher Education</h4>
      <div class="testimonial">
        For me, coaching has been very centering. Having clearly articulated priorities and values helps me stay calm and oriented towards what is most important in the day to day and over the long term. I am more empathetic and resilient as a result...I have a values and priorities scaffolding for making decisions and it gives me confidence and peace. I sleep better and am better about turning my leadership brain off during downtime.
        <span class="testimonial-author">
          University department chair
        </span>
      </div>
      <div class="star-sep"></div>
      <div class="testimonial">
        Through coaching I learned to identify and take actions toward supporting my career goals. I trusted Claire's insights due to her experience in academic science, her confidence that I could bring about the change I wanted to see, and her non-judgemental nature. I wish I would have engaged in coaching earlier in my career.
        <span class="testimonial-author">
          Mid-career faculty member on sabbatical
        </span>
      </div>
      <div class="star-sep"></div>

      <div class="testimonial">
        Working with Claire has taught me to normalize what I need and how to communicate that in order to be able to complete my best work in the lab, as well as how to encourage others to do the same. I have also been prompted to put a lot of thought into my own privilege and how I can leverage that to help those in underrepresented groups; more importantly, also just being aware of the inherent privilege that I, and many others, have and how this manifests itself in disclusion to certain groups of people in science.
        <span class="testimonial-author">
          Lab member from a university research group engagement
        </span>
      </div>
      <div class="star-sep"></div>

      <div class="testimonial">
        [Academia] is often a lonely profession, and our circle makes me feel much less alone. Now that I have my POP circle to validate my struggles, help me work through a range of challenges, and celebrate exciting milestones with me, I look forward to our next call the moment the current one is over.
        <span class="testimonial-author">
          Early career faculty and POP Circle participant
        </span>
      </div>
      <div class="star-sep"></div>

      <div class="testimonial">
       The POP group has been an incredible place for growth &amp; connection... I love how each of us come from different types of ... institutions, yet we all meet each other beautifully in our struggles, advice, and desire for growth. It has been so comforting to find that I'm not alone is some of the basic struggles I feel I should have overcome by now (like time management!), and to have people reflect back on me my own accomplishments allows me to talk back to that imposter syndrome attitude and see that I really do belong in the field of scientists. … This group has been pivotal for me in allowing me to see how much more I have to offer, and I have done, than I had been giving myself credit for... Thank you for the courage to stand in my strength, the supportive community that helps me lean in (and lean back) when I need to, and the tools that help me do it all even better. You are a game-changer Claire.
        <span class="testimonial-author">
          Early career faculty and POP Circle participant
        </span>
      </div>
</section>

<section class="page-section" id="individual-section" data-section-name="pop-circles">
   <a name="pop-circles"></a>
    <div class="blurb right" >
      <h3><span>Power of Peers Circles &amp; Coaching Program</span></h3>
        <div class="graph">
          <span class="question">What is a POP Circle?</span>
            POP Circles are virtual peer coaching groups that meet every other week. Claire Horner-Devine facilitates the first three POP Circles sessions to introduce the model and teach participants the basics of coaching.
        </div>
        <div class="graph">
          <span class="question">Why join?</span>
Individuals excel when they have access to informal networks, community, and a tight circle of successful peers as they navigate bias and challenging institutions. POP Circle participation provides access to accountability, community, empowerment, and ongoing connection. A POP Circle becomes a professional space for confidential conversations about the intersection of who you are personally, professionally, and the role of your social identities in your experience &mdash; your counterspace.
        </div>
        <div class="graph">
          <span class="question">Who is in your POP circle?</span>
          Join five to eight individuals at a similar career stage and work together to propel your careers forward. We help build the POP Circle you want and need so you can have a space with peers with whom you share identities - like gender, race, ethnicity, ability status LGBQT+, among others - that are most salient to your career and life.
        </div>
        <div class="graph">
          <span class="question">What are the benefits?</span>
          <ul>
            <li>A community of peers to leverage for support, feedback, and ideas throughout your career.
            <li>Structured and self-sustaining career development.
            <li>Peer accountability to make change happen.
            <li>Professional space for conversations about the intersection of who you are personally, professionally, and the role of your social identities in your experience.
          </ul>
        </div>


    <h4 class=testimonial_header">More testimonials from POP Circles</h4>

      <div class="testimonial">
POP Circles provide the unique opportunity to balance focus on the everyday problems that have big impacts on our well-being as professionals and human beings and the challenge to take on longer term discussions around the big issues with which we all wrestle.
        <span class="testimonial-author">
          POP Circle participant
        </span>
      </div>
      <div class="star-sep"></div>

      <div class="testimonial">
        My POP Circle experience encouraged me to take the time to stop and reflect on my career more often and to directly consider and address the issues plaguing me.  This reflection helped me progress my career and improve my mental health by offering me a safe environment where I didn't feel at risk that what I would say could have negative consequences.  It gave me the space to reflect openly and honestly and find ways to move forward.
        <span class="testimonial-author">
          POP Circle participant
        </span>
      </div>
  </div>
</section>


<section id="bio" class="page-section" data-section-name="about-dr-horner-devine">
  <div class='blurb right'>
    <a name="about-dr-horner-devine"></a>
    <h3>
      <span>
    About Dr. Horner-Devine
      </span>
    </h3>
    <p>
      Claire Horner-Devine, PhD, helps clients create and translate their visions for a future of excellence into reality, and infuse inclusive and equitable practices and policies throughout their work and organizations. With practices inspired by and deeply rooted in science and social science, Dr. Horner-Devine partners with leaders and organizations in industry, philanthropy, and higher education to examine existing culture and develop new paradigms of leadership and team effectiveness. For over a decade, she has worked with a range of partners and clients across sectors including scientific societies, universities, NOAA, Redfin, DoorDash, and the Bill and Melinda Gates Foundation, among others.
    </p>
    <p class="center">
      <img src="assets/images/star.png" class="center-star one"/>
    </p>
    <p>
      She has also worked directly with over 300 early-career and 60 mid-to-late career STEM (science, technology, engineering and math) professionals as they navigate challenging landscapes and institutions and develop new narratives of success. Her national leadership programs (<a href="https://advance.washington.edu/brains/" target='_blank'>BRAINS</a>,
    <a href="https://advance.washington.edu/lattice" target="_blank">LATTICE</a>,
    <a href="https://www.frontiersin.org/articles/10.3389/fevo.2016.00119/full" target="_blank">WEBS</a>, and
    <a  href="https://www.animalbehaviorsociety.org/2021/WFAB%202021.pdf"
      target="_blank">WFAB</a>
  ) designed to accelerate the careers of women, researchers with disabilities, and researchers from racial and ethnic groups underrepresented in STEM have been called “sanctuaries” and have garnered over $3.2 M in federal grant-funded programs to address diversity in STEM and provide career development to women and individuals from other underrepresented groups.
     </p>
     <p class="center">
     <img src="assets/images/star.png" class="center-star two"/>
     </p>
  <p>
  Dr. Horner-Devine received her B.A from Princeton University and her Ph.D. in Biological Sciences from Stanford University. She worked as a faculty member at the University of Washington for almost a decade and is an ICF certified coach with training from the NeuroLeadership Institute. She has served as a Diversity Officer for the National Postdoctoral Association. She also has experience as an environmental consultant for a private firm and as a program officer for The Gordon and Betty Moore Foundation.
  </div>
</section>
